# Ignore everything in node_modules folders (Frontend and Backend)
node_modules/

# Ignore specific build or output directories
dist/
build/

# Ignore environment files
.env
.env.*

# Ignore specific file types
*.log
*.lock
*.tmp
*.tsbuildinfo

# Ignore IDE/editor config files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific frontend files that shouldn't be tracked
frontend/node_modules/
frontend/dist/

.angular